{% extends "main/base.html" %}


{% block title %}
    关于锐达
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">关于锐达 / Overview</h1>

                {% load static %}
                <img src="{% static "main/image/about_image_01.jpg" %}" class="img-responsive">

                <div href="" class="col-md-4" style="background-color: #BCD0C5;">
                    <h1 class="text-center" style="color: white">公司简介</h1>
                    <a class="btn btn-default center-block" href={% url "main:gongsijianjie" %} role="button">点击进入</a>
                    <h3><br></h3>
                </div>

                <div class="col-md-4" style="background-color: #91BFBF;">
                    <h1 class="text-center" style="color: white">管理团队</h1>
                    <a class="btn btn-default center-block" href={% url "main:guanlituandui" %} role="button">点击进入</a>
                    <h3><br></h3>
                </div>

                <div class="col-md-4" style="background-color: #528870;">
                    <h1 class="text-center" style="color: white">公司荣誉</h1>
                    <a class="btn btn-default center-block" href={% url "main:gongsirongyu" %} role="button">点击进入</a>
                    <h3><br></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}