{% extends "main/base.html" %}


{% block title %}
    公司概况
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">公司概况</p>
                    </div>
                    <div class="panel-body">
                        <p class="lead">河南省锐达医药科技有限公司（以下简称：“公司”）始建于2014年11月，注册于开封国家级高科技园区。公司致力于发展以肿瘤精准医学为核心的医药研发和技术转化，具体内容包括抗癌靶向药物研发、基于分子诊断的肿瘤个体化药物设计、肿瘤检测制剂以及化学合成服务等。公司是开封市城乡一体化示范区政府重点扶持企业之一，初创获得开封市政府的大力支持，于2015年初获得开封新区政府高科技双创企业启动经费；2015年10月，公司获得河南省中原科创基金战略投资，成为中原科创基金投资的河南省第一批、开封市第一家科创企业。</p>
                        <p class="lead">公司立足开封、着眼全国以及全球医药技术的发展，与国内外多家高校、医药企业和学术机构建立了广泛的合作，特别是美国Baylor College of Medicine、MD Anderson Cancer Center、郑州大学、河南大学等有着密切的科研合作和业务交流。公司立志于人类健康事业，并积极配合“一带一路”国家战略和地区产业布局，努力构建科学高效的医药产业链，致力于打造癌症预防、医疗和康复为一体的高端医疗服务系统。</p>
                        <p class="lead">公司团队成员20余人，以硕士和博士为主，其中博士生5人，硕士生12人，形成以博士为技术带头人、硕士为骨干力量的研发队伍。公司下设新药研发部、行政部、项目部、IT部和财务部。新药研发部具备靶标设计、药物合成、药物筛选、药效学鉴定、剂型设计、活性鉴定、药代、毒理等完整的药物研发的硬件和软件平台。</p>
                        {% load static %}
                        <img src="{% static "main/image/about.png" %}" class="img-responsive center-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}