{% extends "main/base.html" %}


{% load static %}

{% block title %}
    关于锐达
{% endblock title %}


{% block main %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%; color: white">关于锐达 / Overview</h1>
                </div>
            </div>
        </div>
    </div>

    <div style="background: url({% static "main/image/about_image_07.jpg" %})">
        <div class="container" >
        <div class="row">
            <br>
            <br>
            <br>
            <br>

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static "main/image/about_image_11.JPG" %}" alt="">
{#                            <div class="carousel-caption">#}
{#                                <h2 class="bg-primary">药物设计</h2>#}
{#                            </div>#}
                        </div>
                        <div class="item">
                            <img src="{% static "main/image/about_image_12.JPG" %}" alt="">
{#                            <div class="carousel-caption">#}
{#                                <h2 class="bg-primary">药物合成</h2>#}
{#                            </div>#}
                        </div>
                        <div class="item">
                            <img src="{% static "main/image/about_image_13.JPG" %}" alt="">
{#                            <div class="carousel-caption">#}
{#                                <h2 class="bg-primary">药理研究及药效评价</h2>#}
{#                            </div>#}
                        </div>
                        <div class="item">
                            <img src="{% static "main/image/about_image_16.jpg" %}" alt="">
{#                            <div class="carousel-caption">#}
{#                                <h2 class="bg-primary">制剂工艺</h2>#}
{#                            </div>#}
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    </div>


    <div class="container" >
        <div class="row">
            <br>
            <br>
            <div class="col-md-12">
                <div class="col-md-4" >
                    <div class="panel panel-default" style="background-color: #BCD0C5;">
                        <div class="panel-body">
                            <h1 class="text-center">公司简介</h1>
                            <a class="btn btn-default center-block" href={% url "main:gongsijianjie" %} role="button">点击进入</a>
                            <h3><br></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="panel panel-default" style="background-color: #BCD0C5;">
                        <div class="panel-body">
                            <h1 class="text-center">专家团队</h1>
                            <a class="btn btn-default center-block" href={% url "main:guanlituandui" %} role="button">点击进入</a>
                            <h3><br></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="panel panel-default" style="background-color: #BCD0C5;">
                        <div class="panel-body">
                            <h1 class="text-center">公司荣誉</h1>
                            <a class="btn btn-default center-block" href={% url "main:gongsirongyu" %} role="button">点击进入</a>
                            <h3><br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}