<!DOCTYPE html>
<html lang="zh-hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


        <title>
            {% block title %}页面标题{% endblock %}
        </title>



        {% load staticfiles %}
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-theme.css' %}" />
    </head>
    <body>
        <header style="background: #6666ff">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </header>


        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav">
                            <li><a href="#">首页</a></li>
                            <li><a href="#">公司概况</a></li>
                            <li><a href="#">公司新闻</a></li>
                            <li><a href="#">产品服务</a></li>
                            <li><a href="#">人才招聘</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        
        <main>

        </main>


        <footer>

        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'main/js/bootstrap.js' %}"></script>
    </body>
</html>