<!DOCTYPE html>
<html lang="zh-hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


        <title>
            {% block title %}页面标题{% endblock %}
        </title>

        <meta name="keywords" content="锐达 锐达医药 河南省锐达医药科技有限公司">
        <meta name="description" content="河南省锐达医药科技有限公司主页">
        <meta name="baidu-site-verification" content="DbcTnzTfdT" />


        {% load staticfiles %}
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}" />

        <link rel="stylesheet" type="text/css" href="{% static "main/css/main.css"%}">

    </head>

    <!-- 模板页面主体内容 -->
    <body style="background-color: #2E353D">
        {% load static %}
{#        <div style="background: url({% static "main/image/backgroud_image.jpg" %})">#}

        <!-- 页头 -->
        <header style="background-color: white">
            <div class="container" >
                <div class="row">
                        <img src="{% static "main/image/logo_and_title03.png" %}" class="img-responsive center-block" >
                </div>
            </div>
        </header>

        <!-- 导航栏 -->
        <nav role="navigation">
{#            <ul class="nav nav-tabs" style="font-size: 150%" >#}
{#                <li><a href={% url 'main:index' %}>主页</a></li>#}
{#                <li><a href={% url 'main:about' %}>关于锐达</a></li>#}
{#                <li><a href={% url 'main:news' %}>公司新闻</a></li>#}
{#                <li><a href={% url 'main:products' %}>产品服务</a></li>#}
{#                <li><a href={% url 'main:employment' %}>公司招聘</a></li>#}
{#                <li><a href={% url 'main:contacts' %}>联系方式</a></li>#}
{#            </ul>#}
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand">

                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right" style="font-size: 150%">
                        <li><a href={% url 'main:index' %}>主页</a></li>
                        <li><a href={% url 'main:about' %}>关于锐达</a></li>
                        <li><a href={% url 'main:news' %}>公司新闻</a></li>
                        <li><a href={% url 'main:products' %}>产品服务</a></li>
                        <li><a href={% url 'main:employment' %}>公司招聘</a></li>
    {#                                <li><a href="/main/templates/main/cooperation.html">对外合作</a></li>#}
                        <li><a href={% url 'main:contacts' %}>联系方式</a></li>
                        <li>&nbsp&nbsp&nbsp</li>
                    </ul>
                </div>
{#                            <div class="navbar-header">#}
{#                                <div class="navbar-brand"><h3>锐达医药</h3></div>#}
{#                            </div>#}

            </div>
        </nav>

        <main>

                {% block main %}{% endblock main %}
                <br>
            </div>
        </main>

        <footer>
            <div class="panel panel-default">
                            <div class="panel-body">
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:index' %}><h4>主页</h4></a>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:about' %}><h4>关于锐达</h4></a>
                                <a href={% url "main:gongsijianjie" %}>公司简介</a> <br>
                                <a href={% url "main:guanlituandui" %}>专家团队</a> <br>
                                <a href={% url "main:gongsirongyu" %}>公司荣誉</a> <br>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:news' %}><h4>公司新闻</h4></a>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:products' %}><h4>产品服务</h4></a>
                                <a href={% url "main:stat3yizhiji" %}>STAT3抑制剂</a><br>
                                <a href={% url "main:chongzudanbai" %}>重组蛋白</a><br>
                                <a href={% url "main:primer" %}>引物合成</a>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:employment' %}><h4>公司招聘</h4></a>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href={% url 'main:contacts' %}><h4>联系方式</h4></a>
                            </div>
                            <div class="col-md-6 text-right">
                                <h4>河南省锐达医药科技有限公司</h4>
                                <p>Copyright © 2017 All Reserved 版权所有</p>
                                <a href="http://www.miitbeian.gov.cn">豫ICP备17043144号</a>
                            </div>
                        </div>
                        </div>
            <div class="container-fluid">
                <br>
                <div class="row">

                    <div class="col-md-12">

                    </div>
                </div>
                <br>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    </body>
</html>