<!DOCTYPE html>
<html lang="zh-hans">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


        <title>
            {% block title %}页面标题{% endblock %}
        </title>


        {% load staticfiles %}
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </header>


        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="font-size: large; font-weight: bold">
                        <div class="navbar-header">
                            <a class="navbar-left" href="index.html"><img src="{% static "main/image/logo-49.png" %}"></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html">主页</a></li>
                            <li><a href="about.html">公司概况</a></li>
                            <li><a href="news.html">公司新闻</a></li>
                            <li><a href="products.html">产品服务</a></li>
                            <li><a href="hr.html">人才招聘</a></li>
                            <li><a href="contacts.html">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        
        <main>
            {% block main %}{% endblock main %}
        </main>


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-dismissible alert-info text-right">
                          <strong>河南省锐达医药科技有限公司</strong><p>2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    </body>
</html>