{% extends "main/base.html" %}


{% block title %}
    联系我们
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">联系我们</p>
                    </div>
                    <div class="panel-body">
                        {% load static %}
                        <img src="{% static "main/image/vintage-communication-dialer-telephone.jpg" %}" class="img-responsive">
                        <h5>无论您是想咨询信息，解决问题，或者是对我们的服务提出建议，您都可以用多种方式联系我们。我们会尽我们所能为您服务！</h5>
                        <h5>公司地址：</h5>
                        <p>河南省开封市宋城路94号</p>
                        <h5>联系电话：</h5>
                        <a href="tel:17337867651">17337867651</a>
                        <h5>电子邮箱：</h5>
                        <a href="mailto:sales@rdmarvin.com">sales@rdmarvin.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}