{% extends "main/base.html" %}


{% block title %}
    联系我们
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">联系我们</p>
                    </div>
                    <div class="panel-body">
                        {% load static %}
                        <img src="{% static "main/image/IMG_7041_1.jpg" %}" class="img-responsive">
                        <h3 class="text-center">公司地址</h3>
                        <h4 class="text-center">河南省开封市宋城路94号</h4>
                        <h3 class="text-center">联系电话</h3>
                        <h4 class="text-center">13912345678</h4>
                        <h3 class="text-center">电子邮箱</h3>
                        <h4 class="text-center">example@rdmarvin.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}