{% extends "main/base.html" %}


{% block title %}
    联系我们
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">联系我们 / Contacts</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% load static %}
                                <img src="{% static "main/image/mail-boxes-in-row.jpg" %}" class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h3>无论您是想咨询信息，解决问题，或者是对我们的服务提出建议，您都可以用多种方式联系我们。我们会尽我们所能为您服务！</h3>
                                <h4>公司地址：</h4>
                                <p>河南省开封市宋城路94号</p>
                                <h4>联系电话：</h4>
                                <a href="tel:17337867651">17337867651</a>
                                <h4>电子邮箱：</h4>
                                <a href="mailto:sales@rdmarvin.com">sales@rdmarvin.com</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}