{% extends "main/base.html" %}


{% block title %}
    对外合作
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">对外合作</p>
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">对外合作</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}