{% extends "main/base.html" %}


{% block title %}
    加入我们
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% load static %}
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">加入我们 / Join Us</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped text-center" style="font-size: 100%">
                            <thead>
                                <tr>
                                    <th class="text-center">岗位</th>
                                    <th class="text-center">专业</th>
                                    <th class="text-center">学历</th>
                                    <th class="text-center">工作地点</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employment in employment_list %}
                                    <tr>
                                        <td><a href="{{ employment.get_absolute_url }}">{{ employment.title }}</a></td>
                                        <td>{{ employment.profession }}</td>
                                        <td>{{ employment.education }}</td>
                                        <td>{{ employment.location }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "main/pagination.html" with page=employment_list %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center">应聘方式</h2>
                            <h4>1. 电子邮件应聘：</h4>
                            <p>投递格式：应聘岗位+姓名+地区</p>
                            <p>邮箱：<a href="mailto:ruidayiyao_hr@sina.com">ruidayiyao_hr@sina.com</a></p>
                            <h4>2. 招聘网站应聘：</h4>
                            <p>请登陆智联招聘，搜索“河南省锐达医药科技有限公司”，根据求职岗位，直接申请。</p>
                            <h4>3. 招聘联系电话：</h4>
                            <p>联系电话：<a href="tel:17337867651">17337867651</a></p>
                            <h4>4. 公司地址：</h4>
                            <p>河南省开封市宋城路94号</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock main %}