{% extends "main/products.html" %}

{% load static %}

{% block title %}
    科研试剂产品
{% endblock %}

{% block name %}
    <h3 class="text-center">科研试剂产品</h3>
{% endblock %}

{% block navbar %}
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" style="font-size: 150%; color:black">产品服务</li>
            <li role="presentation" ><a href="{% url "main:xiaofenzibaxianghuahewu" %}" style="font-size: 110%; color: ">小分子靶向化合物</a></li>
            <li role="presentation" ><a href="{% url "main:tianranchanwujixinmoxing" %}" style="font-size: 110%; color: ">天然产物新机型</a></li>
            <li role="presentation" ><a href="{% url "main:shengwuzhiji" %}" style="font-size: 110%; color: ">生物类产品</a></li>
            <li role="presentation" class="active"><a href="{% url "main:fenzishengwuxuechanpin" %}" style="font-size: 110%; color: ">科研试剂产品</a></li>
          <!--  <li role="presentation" ><a href="{% url "main:jiyinjiance" %}" style="font-size: 110%; color: ">基因检测</a></li>-->
            <li role="presentation" ><a href="{% url "main:jishufuwu" %}" style="font-size: 110%; color: ">技术服务</a></li>
        </ul>
    </div>
{% endblock %}

{% block product %}
    <div class="col-md-10">
        <div class="col-md-12" >

        <!--<a href={% url "main:PCRshiji" %}>-->
            <img src="{% static "main/image/chanpinmulu01.png" %}" class="img-responsive">
        </a>
    </div>
        <!--<div class="col-md-5" >-->

        <!--<a href={% url "main:fenzikelongyuDNAMarker" %}>-->
            <!--<img src="{% static "main/image/fenzikelong001.png" %}" class="img-responsive">-->
        <!--</a>-->
        <!--</div>-->
         <br>
        <div class="col-md-12" >

        <!--<a href={% url "main:ganshoutaixibao" %}>-->
            <img src="{% static "main/image/chanpinmulu02.png" %}" class="img-responsive">
        </a>
        </div>
        <!--<br>-->
        <!--<div class="col-md-5" >-->

        <!--<a href={% url "main:RD" %}>-->
            <!--<img src="{% static "main/image/RD001.png" %}" class="img-responsive">-->
        <!--</a>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="col-md-5" >-->

        <!--<a href={% url "main:lianjiemei" %}>-->
            <!--<img src="{% static "main/image/lianjiemei001.png" %}" class="img-responsive">-->
        <!--</a>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div class="col-md-5" >-->

        <!--<a href={% url "main:fanzhuanlumei" %}>-->
            <!--<img src="{% static "main/image/fanzhuanlumei001.png" %}" class="img-responsive">-->
        <!--</a>-->
        </div>
    </div>
{% endblock %}