{% extends "main/base.html" %}


{% block title %}
    公司荣誉
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">公司荣誉</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">

                        {% load static %}
                        <img src="{% static "main/image/gongsirongyu_image_01.jpg" %}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}