{% extends "main/base.html" %}


{% block title %}
    公司简介
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">关于锐达 / Overview</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-header"><h1 class="text-center">公司简介</h1></div>
                        <h3>河南省锐达医药科技有限公司始建于2014年11月，坐落于河南省开封市汴西湖畔，地处河南省自贸区，为开封市政府重点扶持企业。</h3>
                        <h3>公司从事以肿瘤精准医学为核心的医药研发和技术转化，具体业务包括抗癌靶向药物、肿瘤个体化药物设计、医学诊断产品和分子生物学试剂及相关技术服务等。</h3>
                        <h3><br></h3>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-4">
                            {% load static %}
                            <img src="{% static "main/image/gongsijianjie_image_01.JPG" %}" class="img-responsive">
                        </div>
                        <div class="col-md-4">
                            {% load static %}
                            <img src="{% static "main/image/gongsijianjie_image_02.JPG" %}" class="img-responsive">
                        </div>
                        <div class="col-md-4">
                            {% load static %}
                            <img src="{% static "main/image/gongsijianjie_image_03.JPG" %}" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="page-header"><h1 class="text-center">发展历程</h1></div>
                        {% load static %}
                        <img src="{% static "main/image/gongsijianjie_image_04.JPG" %}" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-header"><h1 class="text-center">战略愿景</h1></div>

                        <h3>公司立志于人类健康事业，努力构建科学高效的医药产业链，致力于打造为集精准医疗技术研发及转化、医疗服务、医学教育于一体的综合性生物医药实体。</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12" style="color: orange">
                        <h1 class="text-center">开封市城乡一体化示范区政府重点扶持企业</h1>
                        <h1 class="text-center">河南省第一批、开封市第一家获得中原科创基金投资的科创企业</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock main %}
