{% extends "main/base.html" %}


{% block title %}
    管理团队
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">管理团队</h1>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-3 col-md-offset-1">
                            {% load static %}
                            <img width="300" height="200" src="{% static "main/image/guanlituandui_image_01.JPG" %}">
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <h3>徐学军博士：董事长</h3>
                            <ul>
                                <li>曾任美国贝勒医学院高级讲师、郑州大学特聘教授、河南大学黄河学者</li>
                                <li>徐学军博士是STAT3抑制剂的主要发明人，是STAT3信号传导机制研究和STAT3抑制剂在肿瘤治疗方面的国际知名专家</li>
                                <li>受过美国行业最高标准培训（NIH博士后）的药物设计专家，曾成功鉴定出基于STAT3蛋白靶点的靶向性抗癌药物的先导化合物，获得相关领域的美国商标注册和专利申请局的发明专利2项，发表代表性学术论文30余篇</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                <div class="col-md-3 col-md-offset-1">
                    {% load static %}
                    <img width="300" height="200" src="{% static "main/image/" %}">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>张东博士：首席科学家</h3>
                    <ul>
                        <li>贝勒医学院和哈佛大学医学院生物化学和遗传学博士后</li>
                        <li>曾在美国惠氏药业、辉瑞药业担任肿瘤研究相关的资深科学家，NYIT医学院副教授</li>
                    </ul>
                </div>
            </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                <div class="col-md-3 col-md-offset-1">
                    {% load static %}
                    <img width="300" height="200" src="{% static "main/image/" %}">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>付凯博士：公司科学家</h3>
                    <ul>
                        <li>美国巴菲特肿瘤医学中心肿瘤病理学教授</li>
                        <li>淋巴瘤国际知名学者</li>
                    </ul>
                </div>
            </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                <div class="col-md-3 col-md-offset-1">
                    {% load static %}
                    <img width="300" height="200" src="{% static "main/image/" %}">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>徐春萍硕士：副总经理</h3>
                    <ul>
                        <li>曾在中兴通讯股份有限公司任高管多年</li>
                        <li>对企业管理、团队建设和市场营销有丰富的经验</li>
                    </ul>
                </div>
            </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                <div class="col-md-3 col-md-offset-1">
                    {% load static %}
                    <img width="300" height="200" src="{% static "main/image/" %}">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>秦二龙硕士：公司监事</h3>
                    <ul>
                        <li>曾任杭州浦建信息技术有限公司总经理</li>
                        <li>对企业运营、财务管理等有丰富的经验</li>
                    </ul>
                </div>
            </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                <div class="col-md-3 col-md-offset-1">
                    {% load static %}
                    <img width="300" height="200" src="{% static "main/image/" %}">
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3>研发团队</h3>
                    <ul>
                        <li>公司团队由海内外硕、博人员组成，成员涉猎临床医学、药理学、化学、药物设计、分子模拟、分子生物及医学生物信息学等多个研究方向，专业知识扎实，经验丰富</li>
                        <li>研发部具备靶标设计、药物合成、药物筛选、药效学鉴定、剂型设计、活性鉴定、药代、毒理等完整的药物研发的硬件和软件设施</li>
                    </ul>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}