{% extends "main/base.html" %}


{% block title %}
    人才招聘
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {% for employment in employment_list %}
                            {{ employment.body|safe }}
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <p>
                            联系电话：<a href="tel:17337867651">17337867651</a>
                        </p>
                        <p>
                            电子邮箱：<a href="mailto:ruidayiyao_hr@sina.com">ruidayiyao_hr@sina.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}