{% extends "main/base.html" %}


{% block title %}
    人力资源
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">人力资源</p>
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">生物医药产品销售</h3>
                        <p>
                            职位月薪：2001-4000元/月<br>
                            工作地点：开封<br>
                            发布日期：招聘中<br>
                            工作性质：全职<br>
                            工作经验：1-3年<br>
                            最低学历：大专<br>
                            招聘人数：1人<br>
                            职位类别：业务拓展专员/助理
                        </p>
                        <h4>岗位职责：</h4>
                        <p>
                            负责生物医药产品的销售推广<br>
                            负责销售订单的管理和落实<br>
                            负责销售平台的维护
                        </p>
                        <h4>任职要求：</h4>
                        <p>
                            1、具有分子生物学基础知识，细胞生物学、分子生物学、遗传学、免疫学、医学、医学类相关专业专科以上学历<br>
                            2、善于沟通、工作认真负责，具有良好的团队协作精神
                        </p>
                        <h4>工作地址：</h4>
                        <p>
                            河南省开封市金明区
                        </p>
                        <h4>联系方式：</h4>
                        <p>
                            电话号码：<a href="tel:17337867651">17337867651</a>
                        </p>
                        <p>
                            电子邮箱：<a href="mailto:hr@rdmarvin.com">hr@rdmarvin.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}