{% extends "main/base.html" %}


{% block title %}
    加入我们
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% load static %}
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">加入我们 / Join Us</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="text-center">加入我们</h2>
                        <table class="table table-striped" style="font-size: 100%">
                                <thead>
                                    <tr>
                                        <th>岗位</th>
                                        <th>专业</th>
                                        <th>学历</th>
                                        <th>工作地点</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td><a href="#1">药物设计研究员</a></td>
                                        <td>计算化学、计算生物学、药物设计等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#2">药理实验员</a></td>
                                        <td>分子生物学、药理学、毒理学和临床药理等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#3">肿瘤药理研究员</a></td>
                                        <td>肿瘤药理等相关专业</td>
                                        <td>博士</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#4">项目管理</a></td>
                                        <td>药事管理、生物医药等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#5">分子生物研究员</a></td>
                                        <td>细胞生物学、分子生物学、遗传学、免疫学、医学、医学类等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#6">药物合成研究员</a></td>
                                        <td>药学或化学等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#7">毒理学研究员</a></td>
                                        <td>毒理学、药理学、药学等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#8">药代动力学研究员</a></td>
                                        <td>药代动力学等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#9">单抗研究员</a></td>
                                        <td>生物学、免疫学等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>

                                    <tr>
                                        <td><a href="#10">生物产品营销员</a></td>
                                        <td>全面的分子生物学基础知识生物工程、细胞生物学、分子生物学、遗传学、免疫学、医学类等相关专业</td>
                                        <td>本科</td>
                                        <td>开封</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center">职位详情</h2>
                            <div>
                                <h3 id="1">药物设计研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、从事计算机分子模拟，药物设计、筛选和结构优化的研发工作，建设化合物库。</p>

                                <p>2、跟踪相关药物领域的国际国内研究动态，撰写调研报告、汇报进展。</p>

                                <h4>任职要求：</h4>

                                <p>1、计算化学、计算生物学、药物设计相关专业，本科及以上学历，有相关工作经验者优先。</p>

                                <p>2、熟悉药物发现流程，了解药物合成的基本流程和技术，能开展药物设计、筛选、活性评价等工作，能熟练进行统计分析。</p>

                                <p>3、熟练掌握蛋白质结构基础（Protein-based Drug design）和药物化学结构基础（ligand-based drug design）的药物设计原理和药物高通量筛选技术，以及相关分子模拟硬件和软件,其中包括Linux、Discover Studio 、Sybyl/Tripos、Schrodinger和ICM等的应用。</p>

                                <p>4、熟悉化学结构数据库软件Chemical Office和其他计算化学及生物学软件的使用。</p>

                                <p>&nbsp;</p>

                                <h3 id="2">药理实验员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责公司细胞间的日常管理及细胞冻存、复苏、培养、维护细胞系的稳定等相关工作。</p>

                                <p>2、在研发部负责人指导下组织开展新合成药物的药理学鉴定工作MTT、western blot。</p>

                                <p>3、建立动物模型进行药效学鉴定；</p>

                                <p>4、配合药理学研发团队中其他研发工作的开展；</p>

                                <h4>任职要求：</h4>

                                <p>1、具有分子生物学、药理学、毒理学和临床药理等相关专业本科及以上学历。</p>

                                <p>2、熟练掌握肿瘤细胞培养、MTT、western blot、动物实验等技能。参加过细胞和组织水平药效活性筛选研究，新药临床前药理和毒理研究工作者优先。</p>

                                <p>3、自学能力强，办事细致认真负责，富有团队合作精神。</p>

                                <p>&nbsp;</p>

                                <h3 id="3">肿瘤药理研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责肿瘤药物研究方案的设计与执行；</p>

                                <p>2、能够带领研究团队开展肿瘤药理相关实验；</p>

                                <p>3、跟踪管理实验进程、分析实验数据，撰写实验报告；</p>

                                <p>4、进行相关专业技术培训。</p>

                                <h4>任职要求：</h4>

                                <p>1、肿瘤药理或相关专业博士及以上学历；</p>

                                <p>2、具有一定的抗肿瘤药物研发经验；</p>

                                <p>3、熟悉肿瘤病理和药理学的理论基础、抗肿瘤药物的药理作用、抗肿瘤药物的靶点研究和抗肿瘤新药临床前药理学、药代和毒理研究方法，熟悉新药申报的流程，熟练掌握相关实验操作技术，能够对试验数据进行正确合理处理与分析；</p>

                                <p>4、熟练应用相关医学软件；</p>

                                <p>5、具有较强的独立工作能力、主动学习意愿和团队协作精神及领导能力；</p>

                                <p>&nbsp;</p>

                                <h3 id="4">项目管理</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责全年项目申报计划，对申报项目进行可行性分析及前期准备。</p>

                                <p>2、负责组织项目的立项、评审，推进项目的过程管理和过程实施，牵头组织项目研发计划的制定，参与项目的全生命周期管理，直至项目完成。</p>

                                <p>3、负责项目对外的申报材料的编写、申报、评审、验收等各环节，并负责申报项目的报送跟踪，负责申报项目的答辩陈述。</p>

                                <p>4、负责分析医药行业和同行信息，定期输出分析材料。</p>

                                <p>5、及时跟踪相关国家、省市等的政策并进行解读，把政策信息进行传递和落实，协助公司建立并保持与重要政府部门长期稳定的合作关系，争取政府的有力支持。</p>

                                <p>6. 负责和国内外相关医疗机构、学术机构的沟通。</p>

                                <h4>任职要求：</h4>

                                <p>1、药事管理、生物医药等相关专业本科研究生及以上学历，有相关工作经验。</p>

                                <p>2、掌握医药相关的法律法规。</p>

                                <p>3、具备良好的沟通协调能力，熟悉国家及省、市科研项目申报流程。</p>

                                <p>4、具备较强的文字功底和语言表达能力，能够独立撰写相关申报材料并进行完整的汇报工作。</p>

                                <p>5、具有较好的英文读、写能力。</p>

                                <p>6、能够熟练运用基本的计算机办公软件。</p>

                                <p>&nbsp;</p>

                                <h3 id="5">分子生物研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责公司基因克隆平台的开发及维护、管理；</p>

                                <p>2、基因和蛋白序列的优化、设计、构建和制备重组蛋白表达质粒，基因扩增、转染（转化）和筛选高表达细胞株或菌株；</p>

                                <p>3、对常见的基因检测及分子生物学技术比较了解；</p>

                                <p>4、具有丰富的基因检测或分子生物学实验操作经验；</p>

                                <p>5、在研发部负责人指导下组织开展新合成药物的药理学鉴定工作MTT、western blot；</p>

                                <h4>任职要求：</h4>

                                <p>1、具有细胞生物学、分子生物学、遗传学、免疫学、医学、、医学类相关专业毕业本科及以上学历。</p>

                                <p>2、具有全面的分子生物学基础知识，熟练掌握分子生物学常规实验技能；</p>

                                <p>3、有从事分子生物学研究领域工作经历，能构建质粒，并进行原核、真核表达重组蛋白质工作经验。 &nbsp;熟练使用常见的分子生物学和蛋白实验手段，包括分子克隆、载体构建、原核或真核表达体系建立、产物表达纯化、活性检测等。</p>

                                <p>4、能够提交客观、全面、规范的实验设计方案；具备对数据进行整理、分析，对所得实验结果进行概括总结和分析</p>

                                <p>5、工作细心、认真负责，具有良好的团队协作精神</p>

                                <p>&nbsp;</p>

                                <h3 id="6">药物合成研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、药物合成文献检索和合成工艺设计；</p>

                                <p>2、根据合成工艺路线，完成药物合成小试及工艺优化；</p>

                                <p>3、对合成主要中间体及终产物进行化学结构确证；</p>

                                <p>4、原料药制备工艺、结构确证等申报资料、记录的撰写。</p>

                                <p>5、完成公司分配的其他工作。</p>

                                <h4>任职要求：</h4>

                                <p>1、药学或化学相关专业，本科及以上学历，2年以上合成工作经验；</p>

                                <p>2、熟悉有机合成化学、合成试验操作及光谱解析，有独立工作能力；</p>

                                <p>3、较好的人际沟通协调能力、团队协作能力、协调组织能力、分析判断能力、时间管理与计划控制能力。</p>

                                <p>4、自学能力强，吃苦耐劳办事细致认真负责，富有团队合作精神。</p>

                                <p>&nbsp;</p>

                                <h3 id="7">毒理学研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责药物毒理学方面数据的分析与研究；</p>

                                <p>2、负责撰写药物相关毒理学综述及评价报告；</p>

                                <p>3、负责药物研发毒理学方面的技术服务支持。</p>

                                <h4>任职要求：</h4>

                                <p>1、毒理学、药理学、药学或相关专业本科及以上学历；</p>

                                <p>2、熟悉FDA，CFDA等规定的临床前毒理学实验内容及指导原则；</p>

                                <p>3、掌握毒代动力学的相关知识，熟悉毒代动力学的相关参数意义；</p>

                                <p>4. 熟悉GLP毒理研究中各项研究的实验内容及具体意义，熟悉已上市药物的毒理学评价体系、标准；</p>

                                <p>5. 曾独立或带领团队进行完整的新药临床前安全性评价工作者优先；</p>

                                <p>6、自学能力强，办事细致认真负责，良好的沟通能力和团队协作精神。</p>

                                <p>&nbsp;</p>

                                <h3 id="8">药代动力学研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、计划、设计并执行啮齿类动物药代动力学和药效动力学(PK/PD)研究。</p>

                                <p>2、分析整理临床前药代动力学和药效动力学(PK/PD)实验数据。</p>

                                <p>3、参与体外、临床前药物代谢研究的新药开发小组，并提供药代动力学实验方案。</p>

                                <p>4、撰写并执行相应的标准操作规范，建立内部GLP质量体系。</p>

                                <h4>任职要求：</h4>

                                <p>1、药代动力学或相关专业本科及以上学历。</p>

                                <p>2、熟悉FDA，CFDA等规定的临床前药代动力学实验内容及指导原则。</p>

                                <p>3、熟悉药代动力学的相关知识，软件和计算方法。</p>

                                <p>4、掌握液相色谱-质谱联用等相关技术。</p>

                                <p>5、曾独立或带领团队进行完整的新药临床前安全性评价工作者优先；</p>

                                <p>6、自学能力强，办事细致认真负责，良好的沟通能力和团队协作精神。</p>

                                <p>&nbsp;</p>

                                <h3 id="9">单抗研究员</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责单克隆抗体研发相关的工作，负责整个单抗平台运作；</p>

                                <p>2、负责动物免疫、细胞培养、杂交瘤制备、抗体筛选、抗体鉴定、抗体纯化等工作；</p>

                                <p>3、负责多克隆抗体制备等工作；</p>

                                <h4>任职要求：</h4>

                                <p>1、生物学、免疫学相关专业，本科及以上学历；</p>

                                <p>2、熟练掌握相关生物技术及检测方法, 如蛋白质电泳，ELISA，Western Blot等；</p>

                                <p>3、精通单克隆抗体的制备技术，至少一年以上单克隆抗体研发经验，有独立完成单抗项目经历者优先考虑；</p>

                                <p>4、工作主动性和责任心强，能独立完成实验项目，良好的沟通能力和团队协作精神。</p>

                                <p>&nbsp;</p>

                                <h3 id="10">生物产品营销员：</h3>

                                <h4>岗位职责：</h4>

                                <p>1、负责公司生物医药产品的销售推广</p>

                                <p>2、负责销售订单的管理和落实</p>

                                <h4>任职要求：</h4>

                                <p>1、具有全面的分子生物学基础知识，生物工程、细胞生物学、分子生物学、遗传学、免疫学、医学类相关专业本科学历</p>

                                <p>2、善于沟通、工作认真负责，具有良好的团队协作精神</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center">应聘方式</h2>
                            <h4>1. 电子邮件应聘：</h4>
                            <p>投递格式：应聘岗位+姓名+地区</p>
                            <p>邮箱：<a href="mailto:ruidayiyao_hr@sina.com">ruidayiyao_hr@sina.com</a></p>
                            <h4>2. 招聘网站应聘：</h4>
                            <p>请登陆智联招聘，搜索“河南省锐达医药科技有限公司”，根据求职岗位，直接申请。</p>
                            <h4>3. 招聘联系电话：</h4>
                            <p>联系电话：<a href="tel:17337867651">17337867651</a></p>
                            <h4>4. 公司地址：</h4>
                            <p>河南省开封市宋城路94号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}