{% extends "main/base.html" %}

{% load static %}

{% block title %}
    河南省锐达医药科技有限公司
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-10 col-md-offset-1">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active" style="width: ">

                                <img src="{% static "main/image/index_image_01.jpg" %}" alt="" class="img-responsive center-block">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <h3 class="text-center">开封</h3>
                                <p style="text-indent: 2em;">
                                    被誉为八朝古都的开封地处华北平原腹地、河南省东部，东与商丘市相连，西与省会郑州市毗邻，南接许昌市和周口市，北依黄河，与新乡市隔黄河相望。随着郑汴一体化、一带一路战略、河南省自贸区、中原经济区等战略的推动，加上开封交通的便捷，开封的区域影响力和业务辐射力正在不断增强。
                                </p>
                                <p style="text-indent: 2em;">
                                    2017年4月1日正式挂牌成立的中国（河南）自由贸易试验区涵盖三个片区：郑州片区73.17平方公里，开封片区19.94平方公里，洛阳片区26.66平方公里。医疗旅游是国家、省赋予开封片区独有的功能定位，在自贸区内开展中高端定位的健康检查、慢病治疗康复、养生保健和医疗技术研发，着力集聚特色中医药文化养生机构、国际性临床医疗机构、健康保健机构、医学科研单位等，积极打造中部地区国际医疗旅游示范区。
                                </p>
                                <img src="{% static "main/image/index_image_02.jpg" %}" alt="" class="img-responsive center-block" style="width: 800px">
                                <div class="carousel-caption">

                                </div>

                            <!--</div>-->
                            <!--<div class="item">-->
                                <!--&lt;!&ndash;<h3 class="text-center">开封自贸区</h3>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p style="text-indent: 2em;">&ndash;&gt;-->
                                    <!--&lt;!&ndash;医疗旅游是国家、省赋予自贸区开封片区独有的功能定位,在自贸区内开展中高端定位的健康检查、慢病治疗康复、养生保健和医疗技术研发,着力集聚特色中医药文化养生机构、国际性临床医疗机构、健康保健机构、医学科研单位等，积极打造中部地区国际医疗旅游示范区。&ndash;&gt;-->
                                <!--&lt;!&ndash;</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="{% static "main/image/index_image_03.jpg" %}" alt="" class="img-responsive center-block" style="width: 800px">&ndash;&gt;-->
                                <!--<div class="carousel-caption">-->

                                <!--</div>-->

                            </div>
                            <div class="item">
                                <h3 class="text-center">锐达医药</h3>
                                <p style="text-indent: 2em;">
                                    河南省锐达医药科技有限公司始建于2014年11月，坐落于河南省开封市汴西湖畔，地处河南省自贸区，为开封市政府重点扶持的高科技企业。
                                </p>
                                <img src="{% static "main/image/index_image_04.png" %}" alt="" class="img-responsive center-block" style="width: 800px">
                                <div class="carousel-caption">

                                </div>

                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}