


{% extends "main/base.html" %}


{% block title %}
    公司新闻
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% load static %}
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%; color: white">公司新闻 / News</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for news in news_list %}
                            <p><a href="{{ news.get_absolute_url }}">{{ news.title }}</a><span style="float: right">{{ news.created|date:"Y年m月d日" }}</span></p>
                            <hr>
                        {% endfor %}
                        {% include "main/pagination.html" with page=news_list %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}