{% extends "main/base.html" %}


{% block title %}
    {{ news.title }}
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ news.title }}</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{{ post.title }}</h4>
                            <p class="date">
                                {{ news.author }} 发布于 {{ news.publish }}
                            </p>
                        {{ news.body|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}