{% extends "main/base.html" %}


{% block title %}
    公司新闻
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% load static %}
                <h1 class="text-center" style="padding-top: 2%; padding-bottom: 2%">公司新闻 / News</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for news in news_list %}
                            <h4>
                                <a href="{{ news.get_absolute_url }}">
                                    {{ news.title }}
                                </a>
                            </h4>
                            <p>
                                {{ news.author }} 发布于 {{ news.publish }}
                            </p>
                            {{ news.intro|linebreaks }}
                        {% endfor %}
                        {% include "main/pagination.html" with page=news_list %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}