{% extends "main/base.html" %}


{% block title %}
    产品服务
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            {% load static %}
            <h1 class="text-center" style="background-image: url({% static "main/image/rainbow-waves-abstract-website-header.jpg"%}); padding-top: 2%; padding-bottom: 2%">产品服务 / Products and Services</h1>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6" style="color: white; background-color: #99CCFF; width: 50%;">
                        <h1 class="text-center">靶向药</h1>
                        <h3 class="text-center">STAT3抑制剂</h3>
                        <h3 class="text-center">白介素6</h3>
                    </div>
                    <div class="col-md-6" style="color: white; background-color: #7AA3CC; width: 50%;">
                        <h1 class="text-center">生物药</h1>
                        <h3 class="text-center">姜黄素制剂</h3>
                        <h3><br></h3>
                    </div>
                    <div class="col-md-6" style="color: white; background-color: #5986B2; width: 50%;">
                        <h1 class="text-center">诊断类</h1>
                        <a href={% url "main:primer" %}><h3 class="text-center">引物合成</h3></a>
                        <h3><br></h3>
                    </div>
                    <div class="col-md-6" style="color: white; background-color: #B2D9FF; width: 50%;">
                        <h1 class="text-center">服务类</h1>
                        <h3><br></h3>
                        <h3><br></h3>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <p>
                    销售热线：<a href="tel:17337867651">17337867651</a>
                </p>
                <p>
                    电子邮箱：<a href="mailto:sales@rdmarvin.com">sales@rdmarvin.com</a>
                </p>
            </div>
        </div>
{% endblock main %}