{% extends "main/base.html" %}


{% block title %}
    产品服务
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">产品服务</p>
                    </div>
                    <div class="panel-body">
                        {% for product in product_list %}
                            <h4>
                                <a href="{{ product.get_absolute_url }}">
                                    {{ product.title }}
                                </a>
                            </h4>
                            <p>
                                {{ product.author }} 发布于 {{ product.publish }}
                            </p>
                            {{ product.intro|truncatewords:30|linebreaks }}
                        {% endfor %}
                        {% include "main/pagination.html" with page=product_list %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}