{% extends "main/base.html" %}


{% block title %}
    产品服务
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title text-center">产品服务</p>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-2">
                            <div class="btn-group-vertical" style="position: fixed">
                                <a href="#" class="btn btn-primary btn-lg">引物合成</a>
                                <a href="#" class="btn btn-primary btn-lg">分子实验</a>
                                <a href="#" class="btn btn-primary btn-lg">有机合成</a>
                                <a href="#" class="btn btn-primary btn-lg">药物设计</a>
                            </div>
                        </div>
                        <div id="yinwu" class="col-md-10">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    {% load static %}
                                    <img src="{% static "main/image/baxiangyaowuzhiliao.JPG" %}" alt="" class="img-responsive">
                                </div>
                                <div class="caption">
                                    <h3 class="text-center">产品名称</h3>
                                    <p>产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍产品内容介绍</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <p>
                            销售热线：<a href="tel:17337867651">17337867651</a>
                        </p>
                        <p>
                            电子邮箱：<a href="mailto:sales@rdmarvin.com">sales@rdmarvin.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}