{% extends "main/products.html" %}

{% load static %}

{% block title %}
    天然产物及新剂型
{% endblock %}

{% block name %}
    <h3 class="text-center">天然产物新剂型</h3>
{% endblock %}

{% block navbar %}
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" style="font-size: 150%; color:black">产品服务</li>
            <li role="presentation" ><a href="{% url "main:xiaofenzibaxianghuahewu" %}" style="font-size: 110%; color: ">小分子靶向化合物</a></li>
            <li role="presentation" class="active"><a href="{% url "main:tianranchanwujixinmoxing" %}" style="font-size: 110%; color: ">天然产物新剂型</a></li>
            <li role="presentation" ><a href="{% url "main:shengwuzhiji" %}" style="font-size: 110%; color: ">生物制剂</a></li>
            <li role="presentation" ><a href="{% url "main:fenzishengwuxuechanpin" %}" style="font-size: 110%; color: ">分子生物学产品</a></li>
            <li role="presentation" ><a href="{% url "main:jiyinjiance" %}" style="font-size: 110%; color: ">基因检测</a></li>
            <li role="presentation" ><a href="{% url "main:jishufuwu" %}" style="font-size: 110%; color: ">技术服务</a></li>
        </ul>
    </div>
{% endblock %}

{% block product %}
    <div class="col-md-10">
        <div class="col-md-12" >

        <!--<a href={% url "main:stat3" %}>-->
            <a href="#">
            <img src="{% static "main/image/jianghuangsu1.png" %}" class="img-responsive">
        </a>
        </div>
    </div>
{% endblock %}