{% extends "main/base.html" %}

{% load static %}

{% block title %}
    战略合作
{% endblock title %}


{% block main %}
    <div class="container">
        <div class="row">
            <h3 class="text-center" style="padding-top: 2%; padding-bottom: 2%;">战略合作</h3>
            <div>
                <div>
                    <p style="text-indent: 2em;">公司立足开封、着眼全国以及全球医药技术的发展，与国内外多家高校、医药企业和学术机构建立了广泛的合作，特别是美国Baylor College of Medicine、MD Anderson Cancer Center、美国Buffett Cancer Center、郑州大学、河南大学、首度基因等有着密切的科研合作和业务交流。</p>
                    <br>
                    <img src="{% static "main/image/zhanluehezuo_image_02.png" %}" class="img-responsive center-block">
                </div>
            </div>
        </div>
    </div>

{% endblock main %}